@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins|Prata|Cinzel|Bellota|Viaoda+Libre&display=swap');

/*Alerts*/

/*Body*/
body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

p,
h2,
h3 {
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  font-weight: normal;
}

.logoandauth {
  height: 3rem;
  width: 100%;
  position: relative;
}

.logo {
  background: url('./img/logo1.jpg') no-repeat center/cover;
  width: 4rem;
  height: 3rem;
  float: left;
  margin-left: 30px;
}

.auth li {
  float: right;
  display: block;
  margin: 0rem 1rem 0rem 1rem;
}
/*Top Navigation Bar*/
.topnavbar {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 6rem;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    180deg,
    rgba(161, 158, 158, 1) 0%,
    rgba(233, 233, 233, 0) 84%
  );
}

.topnavbar li {
  font-family: 'Cinzel', serif;
  float: right;
  text-decoration: none;
  display: flex;
  color: black;
  margin: 20px 10px 20px 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

li:visited {
  color: black;
}

.topnavbar li:hover {
  cursor: pointer;
}

.navlogo {
  text-align: center;
  width: 12rem;
  height: 5rem;
  margin: 0px 20px 30px 30px;
  float: left;
  color: #373737;
  background: #6d7993;
  transition-duration: 500ms;
}

.navlogo p {
  margin: 0px 20px 0px 20px;
}
.navlogo li {
  color: white;
}

.topnavbar button {
  background: none;
  border: none;
  font-family: 'Cinzel';
  font-size: 1rem;
  margin: 10px 5px 10px;
}

.topnavbar button:hover {
  text-decoration: underline;
  transition-duration: 500ms;
}

/* Bottom Bar*/

.bottombar {
  bottom: 0px;
  font-size: 0.7rem;
  text-align: center;
}

/*Landing Page*/

.landingsection1text {
  box-sizing: border-box;
  height: 10rem;
  width: 20rem;
  float: left;
  margin: 100px 70px 0px 70px;
  background: rgb(233, 233, 233, 0.8);
  padding: 0.8rem;
}

.landingsection1text p {
  font-family: 'Cinzel';
  font-size: 2.3rem;
}

.landing {
  background: url('./img/landing.jpg') no-repeat center/cover;
  height: 40rem;
  margin: 0px;
  padding: 0px;
}
label {
  font-size: 1.2rem;
  font-family: 'Pacifico';
  padding: 0.5rem;
}

input,
select {
  width: 8rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 2rem;
  font-family: 'Cinzel', serif;
}

.bookingformcontainer {
  margin: 70px 325px 0px 325px;
  box-sizing: border-box;
  height: 23rem;
  width: 50rem;
  padding: 1rem 1rem 1rem 1rem;
  background: white;
  color: white;
  position: absolute;
  transition-duration: 500ms;
  border-radius: 10px;
  border: 0.04rem solid black;
}

.bookingformcontainer p {
  font-family: 'Playfair Display';
  font-size: 1.2rem;
  color: #565656;
}

.section12 {
  box-sizing: content-box;
  width: 50%;
  padding: 2rem;
  text-align: center;
  font-size: 1.3rem;
  margin: 30px 310px 30px 350px;
  border-radius: 2px;
  font-family: 'Caveat';
}

.landingsection2img {
  background: url('./img/section2.jpg') no-repeat center/cover;
  height: 45rem;
  width: 100%;
}
.landingsection2text {
  box-sizing: border-box;
  padding: 3rem;
  height: auto;
  width: 30%;
  float: left;
  margin: 10rem 0rem 30rem 5rem;
  background: rgba(0, 0, 0, 0.7);
  font-size: 3rem;
  color: white;
  font-family: 'Great Vibes';
}

.landingsection2text a:hover {
  font-size: 1rem;
  transition-duration: 500ms;
}

.landingsection3img {
  background: url('./img/section3.jpg') no-repeat center/cover;
  height: 45rem;
  width: 100%;
}

.landingsection3text {
  box-sizing: border-box;
  padding: 3rem;
  height: auto;
  width: 30%;
  float: right;
  margin: 10rem 5rem 30rem 0rem;
  background: white;
  font-size: 2.5rem;
  color: rgba(20, 160, 216, 0.822);
  font-family: 'Great Vibes';
}

.landingsection3text a:hover {
  text-decoration: underline;
}

.landingfootercontainer {
  text-align: center;
  position: relative;
  bottom: 0px;
  background: black;
  color: white;
  font-size: 0.8rem;
}
.landingfootercontainer li {
  display: block;
}

.landingfooter {
  width: 50rem;
  height: 10rem;
  background-color: rgba(110, 104, 104, 0.6);
  border-radius: 15px;
}

/*Sign Up Page*/

.signuppagetext {
  float: left;
  height: auto;
  margin-top: 100px;
  padding: 1rem 4rem 1rem 4rem;
  width: 30rem;
}

.signuppagetext p {
  font-size: 1.3rem;
  font-family: 'Amatic SC', cursive;
}

.signuppagetext h2 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Oxanium', cursive;
}

.signuptextsection {
  background: url('./img/signup.jpg') no-repeat center/cover;
  height: 20rem;
  width: 30rem;
  margin: 4rem 13rem 0rem 0rem;
}

.signuppage {
  padding: 1rem;
}

.signupcontainer {
  position: relative;
  top: 8rem;
  right: 0rem;
  float: right;
  padding: 1rem;
  box-sizing: border-box;
  width: 40rem;
  height: 50rem;
}

.signupcontainer p {
  font-family: 'Prata', serif;
  font-size: 2rem;
}

.signupcontainer a:hover {
  text-decoration: underline;
}

.signuppagetext li {
  font-family: 'Prata', serif;
  margin: 10px 0px 10px 0px;
}

/*Login Page*/

.loginpage {
  background: rgba(243, 241, 241, 0.61);
  height: 50rem;
  padding: 10rem 9rem 8rem 9rem;
}
.loginformcontainer {
  float: left;
  width: 16rem;
  padding: 2rem;
  background: rgb(248, 248, 248);
  border-radius: 10px;
}

.loginformcontainer a {
  color: brown;
}

.loginformcontainer p {
  font-size: 1rem;
  text-align: center;
  font-family: 'Prata', serif;
}

.loginformcontainer a:hover {
  text-decoration: underline;
}

.loginpagetext {
  float: right;
  height: auto;
  margin-top: 0px;
  padding: 1rem 4rem 1rem 4rem;
  width: 30rem;
}

.loginpagetext p {
  font-size: 1.3rem;
  font-family: 'Amatic SC', cursive;
}

.loginpagetext h2 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Oxanium', cursive;
}

.vl {
  border-left: 1px solid black;
  height: 50rem;
  position: absolute;
  left: 45%;
  top: 20%;
}

.logintextsection {
  background: url('./img/logintextsection.jpg') no-repeat center/cover;
  height: 20rem;
  width: 30rem;
  margin: 4rem 10rem 0rem 2rem;
}

.loginpagetext li {
  font-family: 'Prata', serif;
  margin: 10px 0px 10px 0px;
}

/*List of Rooms*/

.roomstopeditbar {
  margin: 0px 10px 30px 0px;
  background: rgb(235, 235, 235);
  height: 4rem;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
  position: relative;
  z-index: +1;
}

/*Room layout*/

.roomcontainer {
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
  width: 85%;
  height: 18rem;
  margin: 20px 100px 20px 100px;
  background: rgb(235, 235, 235);
}

.roompicture {
  background: url('./img/presidentialroom.jpg') no-repeat center/cover;
  float: left;
  height: 16rem;
  width: 15rem;
  margin: 5px 20px 5px 5px;
}

.roomcontainer h2 {
  font-size: 1.5rem;
  margin: 1rem;
  border-bottom: 1px solid lightgrey;
  font-family: 'Prata', serif;
}

.roomcontainer p {
  margin: 10px;
  font-size: 0.8rem;
  font-family: 'Prata', cursive;
}

.roomcontainer li {
  display: block;
  font-size: 0.7rem;
  font-family: 'Bellota', cursive;
}

.addguestinfo {
  margin-top: 1rem;
  padding: 1rem;
  background: rgb(235, 235, 235);
}

.addguestinfo h2 {
  margin: 30px 0px 30px 0px;
  font-size: 2rem;
  font-family: 'Prata';
}

.summarypicture {
  height: 20rem;
  float: left;
  width: 50%;
  background: url('./img/presidentialroom.jpg') no-repeat center/cover;
}

.summarycontainer {
  margin: 1rem 2rem 1rem 2rem;
  width: '90%';
  padding: 1rem;
  height: 24rem;
  background: rgb(235, 235, 235);
}

.summarycontainer h2 {
  margin: 30px 0px 30px 0px;
  font-size: 2rem;
  font-family: 'Prata';
}

.summaryroomdetails {
  float: left;
  margin: 0rem 0rem 1.5rem 2rem;
}

.summaryroomdetails h2 {
  font-size: 1.8rem;
  font-family: 'Prata';
}

.summaryroomdetails p {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-family: 'Prata';
  margin-bottom: 1rem;
}

.summarycontainer p {
  font-size: 1.2rem;
  font-family: 'Prata';
}
.guestinfo {
  border: 0.5px solid black;
}

.price {
  margin: 1rem 2rem 1rem 2rem;
  width: '90%';
  padding: 1rem;
  height: 16rem;
  background: white;
}

.price h2 {
  margin: 30px 0px 30px 0px;
  font-size: 2rem;
  font-family: 'Prata';
}

.price p {
  font-size: 1rem;
  display: inline;
  font-family: 'Cinzel';
}

tr {
  margin: 2px 0px 2px 0px;
}
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  p,
  h2 {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
